nav {
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.text-link,
.text-link:visited {
    color: rgb(0, 255, 26);
    font-size: 20px;
    ;
    text-decoration: none;
    padding: 10px;
}

.text-link:hover {
    background-color: rgba(4, 255, 0, 0.246);

}

.nav_item .text-link {
    margin-left: 10px;
}

@media only screen and (max-width: 767px) {
    nav {
        display: block;
    }

    .site_name,
    .nav_item {
        width: 100%;
        text-align: center;
    }
}